{% extends "layout/coreui/principal.html.twig" %}
{% set active = 'people' %}
{% set title = 'Person Data Sheet'|trans %}

{% block content %}
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8">
            <h2>
                <div class="btn-group pull-right">
                    <a href="{{ path('people') }}" class="btn btn-white"
                       role="button"><i class="fa fa-list"></i> {{ 'Return to list'|trans }}</a> &nbsp;
                    <a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-white"
                       role="button"><i class="fa fa-pencil"></i> {{ 'Edit'|trans }}</a>
                </div>
                {{ person.firstName }} {{ person.lastName }}</h2>
        </div>
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-lg-8">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab"
                                                          data-toggle="tab">{{ 'Personal Data'|trans }}</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab"
                                           data-toggle="tab">{{ 'Contact Data'|trans }}</a></li>
                <li role="presentation"><a href="#birth" aria-controls="birth" role="tab"
                                           data-toggle="tab">{{ 'Birth Data'|trans }}</a></li>
                <li role="presentation"><a href="#others" aria-controls="others" role="tab"
                                           data-toggle="tab">{{ 'Others'|trans }}</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active col-lg-6" id="personal" style="padding-top: 20px">
                    <dl class="dl-horizontal">
                        <dt>{{ 'Name'|trans }}:</dt>
                        <dd>{{ person.firstName }} {{ person.lastName }}</dd>

                        <dt>{{ 'Email'|trans }}:</dt>
                        <dd>{{ person.email }}</dd>

                        <dt>{{ 'Start Date'|trans }}:</dt>
                        <dd>{{ person.startDate|date('d/m/Y') }}</dd>
                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane" id="contact" style="padding-top: 20px">
                    <dl class="dl-horizontal">
                        <dt>{{ 'Email'|trans }}:</dt>
                        <dd>{{ person.email }}</dd>
                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane col-lg-6" id="birth" style="padding-top: 20px">
                    <dl class="dl-horizontal">
                        <dt>{{ 'Birth Date'|trans }}:</dt>
                        <dd>{{ person.birthDate|date('d/m/Y') }}</dd>
                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane col-lg-6" id="others" style="padding-top: 20px">
                    <dl class="dl-horizontal">
                        <dt>{{ 'Email'|trans }}:</dt>
                        <dd>{{ person.email }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <p>
                <img src="/private_upload/photo_booth/{{ person.id }}.jpg" width="200"><br>
            </p>

            <p>

            </p>
        </div>
    </div>
{% endblock %}

