{% extends 'layout/coreui/main.html.twig' %}
{% set active = 'unit' %}
{% set title = 'Edit'|trans ~ ': ' ~ unit.shortName %}

{% block js %}
    {{ parent() }}
    <!-- Actual view -->
    <script src="/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <!-- Actual view -->
    <link href="/assets/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-6">
            <form action="{{ path('unit_save') }}" method="post">
                <div class="card">
                    <div class="card-header">
                        <strong>{{ 'Unit Datasheet'|trans }}</strong>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="longName">{{ 'Long Name'|trans }}</label>
                                    <input type="text" class="form-control" name="longName" value="{{ unit.longName }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="shortName">{{ 'Short Name'|trans }}</label>
                                    <input type="text" class="form-control" name="shortName"
                                           value="{{ unit.shortName }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="miniName">{{ 'Mini Name'|trans }}</label>
                                    <input type="text" class="form-control" name="miniName" value="{{ unit.miniName }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="notes">{{ 'Notes'|trans }}</label>
                                    <textarea class="form-control" name="notes">{{ unit.notes }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for="ccmonth">Month</label>
                                <select class="form-control" id="ccmonth">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="end_date">{{ 'End Date'|trans }}</label>

                                <div class="input-append date datetimepicker">
                                    <input class="input-small" data-format="dd-MM-yyyy" name="fecha_inicio_miembro"
                                           type="text" required="">
                                    <span class="add-on">
                                <i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar"
                                   class="fa-calendar fa"></i>
                            </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="end_date">{{ 'End Date'|trans }}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control datepicker" id="end_date"
                                               name="EndDate" value="{{ unit.endDate }}">
                                    </div>
                                </div>
                            </div>


                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control date" name="fechaNacimiento"
                                       value="23/11/1984">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i
                                    class="fa fa-dot-circle-o"></i> {{ 'Submit'|trans }}</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i
                                    class="fa fa-ban"></i> {{ 'Reset'|trans }}
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-6">

            <div class="card">
                <div class="card-header">
                    <strong>Ficheros</strong>
                    <small>Sube ficheros a esta unidad</small>
                </div>
                <div class="card-block">
                    <form id="upload" method="post" action="#">
                        <input type="file" id="theFile" name="theFile">
                        <input type="submit" class="btn-primary" value="Subir fichero">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}