<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{{ 'Toggle navigation'|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Portus</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if 'homepage' == active %}class="active"{% endif %}><a href="{{ path('homepage') }}"><i
                                class="fa fa-home"></i> {{ 'Home'|trans }}</a>
                </li>
                <li {% if 'people' == active %}class="active"{% endif %}>
                    <a href="{{ path('people') }}">{{ 'People'|trans }}</a>
                </li>
                <li {% if 'news' == active %}class="active"{% endif %}>
                    <a href="{{ path('news') }}">{{ 'News'|trans }}</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="fa fa-cog"></i> {{ 'Administration'|trans }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('news') }}"><i class="fa fa-newspaper-o"></i> {{ 'News'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('people') }}"><i class="fa fa-user"></i> {{ 'Users'|trans }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li {% if 'perfil' == active %}class="active"{% endif %}><a href="#"><i
                                    class="icon-user"></i>{{ 'My profile'|trans }}</a></li>
                    <li><a href="{{ path('admin_logout') }}">{{ 'Logout'|trans }}</a></li>
                {% else %}
                    <li {% if 'login' == active %}class="active"{% endif %}><a href="{{ path('login') }}"><i
                                    class="icon-user"></i> {{ 'Login'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>